@font-face {
  font-family: FuturaBold;
  src: url(../fonts/futuraStdBold.otf);
}
@font-face {
  font-family: FuturaMed;
  src: url(../fonts/futuraStdMedium.otf);
}
@font-face {
  font-family: FuturaLight;
  src: url(../fonts/futuraStdLight.otf);
}
